<ion-header no-border>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-menu-button color="warning" menu="primerMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title style="padding-left: 45px;">
            Go2Shop - Vitrina
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="vercarrito($event)" *ngIf=" baseLocal.miCarrito.length>0 ">
                <ion-icon size="large" name="cart-outline"></ion-icon>
                <ion-badge mode="ios" color="danger">{{ baseLocal.miCarrito.length }}</ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-segment mode="ios" (ionChange)="segmentChanged($event)" color="warning">
        <ion-segment-button value="todos">
            <ion-label>Todos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="ferreteria">
            <ion-label>Ferretería</ion-label>
        </ion-segment-button>
        <ion-segment-button value="multitienda">
            <ion-label>Multitienda</ion-label>
        </ion-segment-button>
        <ion-segment-button value="hogar">
            <ion-label>Hogar</ion-label>
        </ion-segment-button>
        <ion-segment-button value="outdoor">
            <ion-label>OutDoor</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-progress-bar *ngIf=" buscando " type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content class="animated fadeIn">

    <!--
    -->
    <div class="collection ion-padding animated fadeIn">
        <div class="collection-item" text-center *ngFor="let prod of imageList | filtro: segmento:'segmento' " tappable (click)="verproducto( prod )">
            <img [src]=" prod.codigosincolor " onerror=" this.src='assets/images/no-img.png' " />
            <ion-label class="ion-text-wrap" style="font-size:70%;; font-weight: bold;">{{ prod.descripcion }}</ion-label>
            <ion-badge mode="ios" slot="end" style="font-size:65%;padding-top: 5px;" color="tertiary">${{ prod.precio | number:"1.0-0"}}</ion-badge>
        </div>
    </div>

    <ion-infinite-scroll threshold="200px" (ionInfinite)="loadImages(false,$event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Más ofertas..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="warning" (click)="scrollToTop()" size="small">
            <ion-icon name="arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>